html, body {
    background-color: black;
    color: white;
    margin: 0;
    box-sizing: border-box;
    flex-grow: 0;
    font-family: fixedsys;
}

.center {
    display: flex;
    justify-content: center;
}

#website {
    position: relative;
    z-index: 100000;
}

::-webkit-scrollbar {
    width: 0px;
    background: black;
}

#background {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

@media screen and (max-width: 600px) { 
    #pre-dude, #pre-dude2 {
        display: none;
    }

    #pre-dude2 {
        margin-left: 10%;
    }

    iframe {
        width: fit-content;
    }

    #main {
        width: 100%;
        box-sizing: border-box;
        display: block;
    }

    #phone1, #phone2 {
        display: none;
    }

    #titlePre {
        font-size: x-small;
    }

    #unlistedProjects {
        width: 100vw;
    }
}

@media screen and (max-width: 1930px) {
    #pre-dude, #pre-dude2 {
        position: absolute;
        top: 70%;
    }

    #pre-dude2 {
        margin-left: 16%;
    }
}

@font-face {
    font-family: fixedsys;
    src: url(fonts/FSEX300.ttf);
}

.title {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    color: white;
}

#chat {
    border: 4px double blue;
    margin-bottom: 5px;
    scrollbar-width: 5px;
    scrollbar-color: #ff00ff;
    outline-offset: -4px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
}

pre {font-family: fixedsys;}

.a { color: cyan; }

.a:hover {
    color: black;
    background-color: cyan;
}

.other-a {
    position: relative;
    z-index: 1000;
}

.cyan {color: cyan;}

.main {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    padding: 15px;
    border-radius: 2px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    border: 4px double blue;
    position: relative;
    outline-offset: -4px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
    z-index: 10;
}

#onlyKind {
    text-align: center;
    color: black;
    outline-offset: -4px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
    width: fit-content;
    background-color: dodgerblue;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#log {
    display: none;
    background-color: black;
    border: 4px double blue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    width: 25rem;
    height: 60%;
    text-align: center;
    z-index: 1000;
    overflow-y: scroll;
    outline-offset: -4px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
}

#titleSpan {
    font-family: fixedsys;
}

.x {
    float: right;
    cursor: pointer;
}

#cover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.other {
    border: 4px double blue;
    padding: 2px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
    outline-offset: -4px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
}

#other-div {
    outline-offset: -4px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
    width: fit-content;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
}

fieldset {
    border: 4px double blue;
    outline-offset: -4px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
}

button {
    border: 3px double;
    background-color: black;
    color: dodgerblue;
    margin-bottom: 4px; 
    font-family: fixedsys;
    cursor: pointer;
    position: relative;
    outline-offset: -2px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
}

button:hover {
    background-color: mediumaquamarine;
    color: black;
    border-color: blue;
    top: -2px;
}

#pre-dude {
    color: cyan;
    font-size: larger;
    position: absolute;
    margin-top: 1.5rem;
    left: -1rem;
    z-index: 100;
}

#pre-dude2 {
    color: cyan;
    font-size: larger;
    position: absolute;
    z-index: 100;
    margin-top: 1.5rem;
    right: 4rem;
}

.container {
    display: flex;
    justify-content: center;
}

.special-btn {
    background: none;
    border: 4px double cyan;
    color: cyan;
}

.special-btn:hover {
    border-color: darkcyan;
    background-color: cyan;
    color: black;
}

#stats-title {
    color: cyan;
    margin-left: 1.5rem;
}

legend {
    color: white;
    text-decoration: underline;
    text-decoration-color: dodgerblue;
    text-decoration-style: dotted;
    background-color: navy;
    outline-offset: -2px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
}

hr {
    border: 1px dotted white;
    margin: 1px;
}

#favicon-changelog { width: 25px; }

#jukebox {
    position: relative;
    width: fit-content;
    left: 25rem;
    top: -30rem;
    text-align: center;
    z-index: 10;
}

.panel-text {
    color: cyan;
    cursor: pointer;
}

.panel-text:hover {
    background-color: cyan;
    color: black;
}

#bottom-page {
    position: relative;
    top: -40rem;
    z-index: 10;
}

#stats {
    width: fit-content;
    padding: 15px;
    border: 4px double blue;
    outline-offset: -4px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
    position: relative;
    left: 29rem;
    top: -29rem;
    z-index: 10;

}

#contact {
    position: relative;
    width: fit-content;
    left: 20rem;
    top: -36rem;
    text-align: center;
    z-index: 10;
}

#canvas {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

#control-panel {
    position: relative;
    left: -21rem;
    top: -57rem;
    z-index: 10;
    text-align: center;
}