html, body {
    background-color: black;
    color: white;
    font-family: fixedsys;
    text-align: center;
}

@font-face {
    font-family: fixedsys;
    src: url(../../fonts/FSEX300.ttf);
}

input {
    border: 4px double blue;
    color: white;
    background: none;
    outline: none;
    font-family: fixedsys;
    outline-offset: -4px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
}

button {
    border: 3px double;
    background-color: black;
    color: dodgerblue;
    margin-bottom: 4px; 
    font-family: fixedsys;
    cursor: pointer;
    position: relative;
    outline-offset: -2px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
}

button:hover {
    background-color: mediumaquamarine;
    color: black;
    border-color: blue;
    top: -2px;
}

#ball {
    background-color: red;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}