html, body {
    background-color: black;
    color: white;
    font-family: fixedsys;
    text-align: center;
}

@font-face {
    font-family: fixedsys;
    src: url(../fonts/FSEX300.ttf);
}

a { color: cyan; }

a:hover {
    color: black;
    background-color: cyan;
}