body {
    background-color: black;
    font-family: fixedsys;
    color: white;
    position: relative;
    z-index: 1;
}

@font-face {
    font-family: fixedsys;
    src: url(../fonts/FSEX300.ttf);
}

button {
    border: 3px double;
    background-color: black;
    color: dodgerblue;
    margin-bottom: 4px; 
    font-family: fixedsys;
    cursor: pointer;
    position: relative;
    outline-offset: -2px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
}

button:hover {
    background-color: mediumaquamarine;
    color: black;
    border-color: blue;
    top: -2px;
}

.blue {color: dodgerblue;}
.lime {color: lime;}
.red {color: red;}
.title {text-align: center;font-size: 2.5rem;}

a { color: cyan; }

a:hover {
    color: black;
    background-color: cyan;
}

.main {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: 40rem;
    padding: 5px;
    border: 4px double blue;
    outline-offset: -4px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
}

.trending-games, .trending-topics, .trending-channels {
    float: left;
    height: fit-content;
    border-right: 4px double blue;
    border-bottom: 4px double blue;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    outline-offset: -4px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
}

.coraltube-news {
    float: left;
    border-bottom: 4px double blue;
    border-right: 4px double blue;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    width: 25rem;
    outline-offset: -4px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
}

.searchBox {
    float: left;
    border-bottom: 4px double blue;
    border-right: 4px double blue;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    width: 25rem;
    height: 6rem;
    outline-offset: -4px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
}

#searchBar {
    background: none;
    border: 4px double blue;
    outline: none;
    padding: 5px;
    margin: 5px;
    font-family: fixedsys;
    margin-left: 0px;
    margin-right: 0px;
    height: 1rem;
    outline-offset: -4px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
}

#searchText {
    font-size: xx-large;
}

#searchBtn {
    height: 2rem;
}

.videos {
    position: absolute;
    top: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

img {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.video {
    border: 4px double blue;
    outline-offset: -4px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
}
#video2 {margin-left: 11rem;}
#video3 {margin-left: 22rem;}
#video4 {margin-left: 34rem;}
#video5 {margin-left: 46rem;}

.container {
    display: flex;
    justify-content: center;
}