body {
    background-color: black;
    font-family: fixedsys;
    color: white;
    text-align: center;
}

@font-face {
    font-family: fixedsys;
    src: url(../fonts/FSEX300.ttf);
}

#title {
    font-size: x-large;
    background-color: dimgray;
    outline-offset: -2px;
    outline-width: 2px;
    outline-color: white;
    outline-style: dotted;
}

.center {
    display: flex;
    justify-content: center;
}

fieldset { width: fit-content; }

#ballNum {color: cyan;}
#ballText {color: cyan; width: 100rem;}

#ball {
    color: black;
    border-radius: 50%;
    background-color: aqua;
    width: 40px;
    height: 40px;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
}

button {
    border: 3px double;
    background-color: black;
    color: dodgerblue;
    margin-bottom: 4px; 
    font-family: fixedsys;
    cursor: pointer;
    position: relative;
    outline-offset: -2px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
}

button:hover {
    background-color: mediumaquamarine;
    color: black;
    border-color: blue;
    top: -2px;
}