html, body {
    background-color: black;
    height: 100vh;
    margin: 0;
    font-family: fixedsys;
    color: white;
}

@font-face {
    font-family: fixedsys;
    src: url(../fonts/FSEX300.ttf);
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
}

#mainHolder {
    text-align: center;
}

#topNav {
    background-color: black;
    height: 4rem;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

a {
    color: orange;
    transition: color 0.3s;
    text-decoration: none;
}

a:hover { color: orangered; }

#main {
    border: 3px double blue;
    outline-offset: -4px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
    background-color: black;
    width: 18rem;
    padding: 10px;
    font-size: small;
    min-height: 4rem;
}

#redeemCode {
    float: right;
    text-decoration: underline;
    cursor: pointer;
    color: white;
    position: relative;
    top: 50%;
}

marquee {
    color: white;
}

button {
    border: 3px double dodgerblue;
    background-color: navy;
    color: white;
    margin-bottom: 4px; 
    font-family: fixedsys;
    cursor: pointer;
    position: relative;
    outline-offset: -2px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
    box-shadow: 2px 2px darkslateblue;
}

button:hover {
    background-color: dodgerblue;
    color: white;
    border-color: blue;
    top: -2px;
}


#clicker {
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 4rem;
    width: 7rem;
    height: 7rem;
    cursor: pointer;
}

fieldset {
    height: 8rem;
    width: fit-content;
    border: 3px double blue;
    outline-offset: -4px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
}

legend {
    color: white;
    text-decoration: underline;
    text-decoration-color: dodgerblue;
    text-decoration-style: dotted;
    background-color: navy;
    outline-offset: -2px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
}

hr {
    border: 1px dotted white;
    margin: 1px;
    width: 17rem;
}