body {
    margin: 0;
    overflow: hidden;
}

@font-face {
    font-family: fixedsys;
    src: url(../fonts/FSEX300.ttf);
}

#canvas {
    background-color: black;
    position: relative;
    z-index: 1;
}

#display {
    background-color: black;
    border: 4px ridge blue;
    padding: 5px;
    width: fit-content;
    color: white;
    font-family: fixedsys;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 50%;
    outline-offset: -2px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
}

#display:hover { opacity: 100; }

#display-text { color: orange; }