body {
    background-color: black;
    font-family: fixedsys;
    color: white;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: fixedsys;
    src: url(../fonts/FSEX300.ttf);
}

button {
    border: 3px double dodgerblue;
    background-color: navy;
    color: white;
    margin-bottom: 4px; 
    font-family: fixedsys;
    cursor: pointer;
    position: relative;
    outline-offset: -2px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
    box-shadow: 2px 2px darkslateblue;
}

button:hover {
    background-color: dodgerblue;
    color: white;
    border-color: blue;
    top: -2px;
}

.buttonHolder {margin: 20px;}

@keyframes anim {
    50%{transform: rotateX(180deg);}
    50%{transform: rotateX(-180deg);}
}

.title {
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    padding: 15px;
    margin-left: 0px;
    border: 4px double magenta;
    justify-items: center;
    display: flex;
}

.title:hover {animation-name: anim;}

.blue {color: dodgerblue;}

#homepage {color: cyan;}

legend {
    color: white;
    text-decoration: underline;
    text-decoration-color: dodgerblue;
    text-decoration-style: dotted;
    background-color: navy;
    outline-offset: -2px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
}

fieldset {
    border: 4px double blue;
    outline-offset: -4px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
}